#map {
  height: 80vh;
}

#map2 {
  height: 80vh;
}
/*
.leaflet-routing-alt table{
  display: none;
}

.leaflet-routing-alt h2{
  display: none;
}

.leaflet-routing-alt{margin-bottom:0;}
*/